<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body> 
    <div class="container mt-4">
        {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the LMS</h1>
    <p class="lead">A Library Management System.</p>
    <hr class="my-4">
    <p>Login or register to get started.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('main.login') }}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('main.register') }}" role="button">Register</a>
</div>
{% endblock %}
    </div>
</body>
</html>

